html{
  background-color: #000000;
}
h1 {
    font-size: 60px;
  }
h2 {
    font-size: 25px;
  }
.titulo1 {
    background-image: url("multimedia/imagenes/otras/fondos/1.png");
    text-align: center;
    color: white;
    padding: 150px;
  }
.titulo2 {
    background-image: url("multimedia/imagenes/otras/fondos/1.png");
    text-align: center;
    color: white;
    padding: 10px;
  }
.titulo3 {
    background-image: url("multimedia/imagenes/otras/fondos/2022-07-25_07.27.11.png");
    text-align: center;
    color: white;
    padding: 0px;
  }
.titulo4 {
  background-image: url("multimedia/imagenes/otras/fondos/2022-11-27_19.10.25.png");
  background-size:auto;
  text-align: center;
  color: white;
  padding: 250px;
  text-align: center;
  /*Cómo le digo a la imagen por donde quiero que empiece a generarse*/
}
.titulo4 h1{
  font-size: 80px;
}
.sobretitulo{
    background-color:black;
    color:white;
    padding:10px;
    /*Cómo lo engancho para que siga a la página mientras hago scroll*/
  }

.sub a{
    color:white;
    text-decoration: none;
    background-color: rgb(255, 0, 0);
    padding: 5px;
  }
.parrafo {
    background-image: url('multimedia/imagenes/otras/images.jpeg');
    background-size: cover;
    color: black;
    padding: 50px;
  }
.t1{
    align-items:flex-end;
  }

#tik{
  padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sociales{
  background-image: url("multimedia/imagenes/otras/fondos/2022-11-27_19.10.25.png");
    padding: 100px;
}
.entretitulo{
  font-family: Impact, Charcoal, sans-serif;
  font-weight: bold;
  font-size: 48px;
  background-color: white;
  padding: 10px;
}
.comunidades{
  background-image: url("multimedia/imagenes/otras/fondos/2021-12-25_10.04.37.png");
  color:White;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 24px;
  padding:10px
}
.comunidades_margin b{
  font-style: italic;
}
.comunidades_{
  color:White;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 18px;
  width: 1000px;
}
.comunidades_izq li{
  font-size: 24px;
  font-weight: bold;
}
.comunidades_margin{
  margin-left: 60pt;
}
.comunidades_ ul.dos{
  margin-left: 60pt;
}
.tc01{
  color:#252525;
  font-family: Impact, Charcoal, sans-serif;
  text-align: center;
}
.tc02{
  color:#2e5f00;
  font-family: Impact, Charcoal, sans-serif;
  text-align: center;
}
.tc03{
  color:#a76f00;
  font-family: Impact, Charcoal, sans-serif;
  text-align: center;
}
/* Carrusel */
.carruseles{
  background-color: white;
  padding: 10px;
}
.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  width: 1400px;
  margin: auto;

}
.carousel img {
  scroll-snap-align: center;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.carousel::-webkit-scrollbar {
  display: none;
}
/* Carrusel2 */
.carouselB {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  width: 1400px;
  margin: auto;
}
.carouselB img {
  scroll-snap-align: center;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.carouselB::-webkit-scrollbar {
  display: none;
}
/* Carrusel3 */
.carouselC {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  width: 1400px;
  margin: auto;
}
.carouselC img {
  scroll-snap-align: center;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.carouselC::-webkit-scrollbar {
  display: none;
}
/*Tabla ResourcePack*/
.tablar{
  color:#000000;
  font-family: Impact, Charcoal, sans-serif;
  text-align: left;
  font-size:30px;
}
.tablar2{
  color:#000000;
  font-family: Impact, Charcoal, sans-serif;
  text-align: right;
  font-size:30px;
}
.tablar_{
  padding:30px;
  color:#000000;
  font-family: Impact, Charcoal, sans-serif;
  text-align: left;
  font-size:20px;
}
.tablar_2{
  padding:30px;
  color:#000000;
  font-family: Impact, Charcoal, sans-serif;
  text-align: right;
  font-size:20px;
}
.rojo{
  color: red;
}
/*Tabla YouTube*/
.tablay0{
  background-image: url(multimedia/imagenes/otras/fondos/2021-12-25_10.04.37.png);

}
.tablay{
  color:white;
  font-family: Impact, Charcoal, sans-serif;
  text-align: left;
  font-size:20px;
}
.tablay b{
  color:blue;
}
.tablay2{
  color:#ffffff;
  font-family: Impact, Charcoal, sans-serif;
  text-align: right;
  font-size:20px;
}
.tablay_{
  padding:30px;
  color:#000000;
  font-family: Impact, Charcoal, sans-serif;
  text-align: left;
  font-size:20px;
}
.tablay_2{
  padding:30px;
  color:#ffffff;
  font-family: Impact, Charcoal, sans-serif;
  text-align: right;
  font-size:20px;
}

/*MiRP*/
.papa{
  justify-self: center;
  text-align:center;
  justify-content: center;
  margin-bottom: 8px;width: 200px;
  background-color: rgb(0, 0, 0); 
  height:16px;
}
.resumenmirp{
  background-image:url("multimedia/imagenes/otras/fondos/2021-12-14_20.59.03.png") ;
  text-align: center;
  color:white;
  padding: 100px;
}
.resumenmirp h1{
  font-size: 30px;
}
.resumenmirp ul{
  text-align: left;
  font-size: 25px;
}
.tablarp{
  background-color: white;
}
.blanco{
  background-color: white;
}
audio {
  display: none;
}

.word {
  text-decoration: underline;
  cursor: pointer;
}

.word:hover {
  color: blue;
}
.formulario{
  text-align: center;
  padding: 10px;
  background-image: url(multimedia/imagenes/neon/2021-09-15_01.00.57.png);
}


/* -- Parte del display de imagenes -- */

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none;
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

/* -- Parte del display de imagenes -- */
/* -- NUEVO -- */
/* -- EL PTO MENÚ PRINCIPAL -- */
a {
  font-size: 1;
  text-decoration: none;
}
fieldset, img {
  border: 0;
}
@media only screen and (max-width: 910px) {
  .container {
    width: 800px;
    margin: 0 auto;
    position: relative;
  }
}
.logo {
  position: absolute;
  top: 36px;
  left: 0;
  z-index: 1232323;
  height: 20px;
  width: auto;
  max-height: 100%;
  max-width: 100%;
}
.printablelogo {
  display: none;
}
.container {
  width: 910px;
  margin: 0 auto;
  position: relative;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#generalCont {
  width: 100%;
  padding-left: 0vw;
  padding-right: 0vw;
  background-color: rgb(0, 0, 0);
}
#wrapper {
  position: relative;
  width: 100%;
  flex-direction: column;
  display: flex;
}
#content {
  position: relative;
  float: left;
  width: 100%;
  background: #FFF;
  padding-bottom: 5em;
}
#header-wrapper {
  position: relative;
  float: left;
  width: 100%;
}
header {
  position: relative;
  float: left;
  width: 100%;
  height: 8.5em;
  background: #000000;
}
#footer-wrapper {
  position: relative;
  float: left;
  width: 100%;
}
header .container, #footer-wrapper .container {
  width: 910px;
}
header .container, #footer-wrapper .container {
  width: 910px;
}
#footer-wrapper .container .col3 {
  float: right;
}
.icon-menu {
  display: none;
}

/* -- EL PTO MENÚ PRINCIPAL -- */

/* -- NUEVO Título -- */
.titulo0 {
  background-image: url("multimedia/stockInfo2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  
  color: #00ff00;
  text-shadow: 0.3em 0.3em 0px #000;
  text-shadow: 0.3vw 0.3vw 0px #000;
  
  padding-top: 250px;
  padding-bottom: 200px;

  text-align: center;
  letter-spacing: 2px;
  font-family: Impact, Charcoal, sans-serif;
}
.titulo0 h1{
   font-size: 5em;
   font-size: 5vw;
   
}
.titulo0 h2{
  font-size: 3em;
  font-size: 3vw;
}
/* -- NUEVO Título -- */


/* -- NUEVO Div Gradiente -- */
.gradiente{
  background-color: #01d101;
  color: #000000;
  float: left;
  height: 26vw;
  width: 100%;
}
.gradiente h2{
  font-family:Impact, Charcoal, sans-serif;
  font-size: 2.7em;
  font-size: 2.7vw;
  font-style: italic;
  padding: 2em;
  text-align: center;
  padding-top: 4vw;
}
.gradiente h3{
  text-align: center;
  padding-right: 7em;
  padding-left: 7em;
  font-size: 1.7em;
  font-size: 1.7vw;
}
/* -- Div Gradiente -- */

/* -- NUEVO Div Oscuro -- */
.oscuro {
  background-color: #000000;
  color: #00ff00;
  float: left;
  height: 100%;
  width: 100%;
  margin-top: 4vw;
  padding-bottom:4vw;
}
.oscuro h2 {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 2.7em;
  font-size: 2.7vw;
  font-style: italic;
  padding-bottom: 2.5vw;
  text-align: center;
  letter-spacing: 2px;
}
.oscuro .tablaOscura {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.oscuro .filaOscura {
  display: flex;
  padding: 1em;
}
.oscuro .iconoOscuro {
  margin-left: 3.5em;
  margin-right: 3.5em;
  text-align: center;
  font-size: 2.1em;
  font-size: 2.1vw;
}
.oscuro .iconoOscuro img {
  width: 10em;
  width: 10vw;
  height: auto;
}
.oscuro .tituloOscuro{
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 1.7em;
  font-size: 1.7vw;
  margin-left: 5.3em;
  margin-right: 5.3em;
}
.oscuro .descripcionOscuro {
  text-align: center;
  width: 15em;
  margin-left: 3.9em;
  margin-right: 3.9em;
  font-family: 'Times New Roman', Courier, monospace;
  font-size: 1.3vw;
}
    /* -- Segunda parte Div Oscuro -- */
.oscuro2 {
  background-color: #000;
  color: #00ff00;
  float: left;
  height: 60vw;
  width: 100%;
}
.oscuro2 h2 {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 2.7em;
  font-size: 2.7vw;
  font-style: italic;
  padding: 2em;
  text-align: center;
  letter-spacing: 2px;
}
.oscuro2 .tablaOscura2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.oscuro2 .filaOscura2 {
  display: flex;
  padding: 1em;
}
.oscuro2 .iconoOscuro2 {
  margin-left: 5em;
  margin-right: 5em;
  text-align: center;
  font-size: 2.1em;
  font-size: 2.1vw;
  width: 8vw;
}
.oscuro2 .iconoOscuro2 img {
  width: 5vw;
  height: auto;
}
.oscuro2 .tituloOscuro2{
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 1.5em;
  font-size: 1.5vw;
  margin-left: 2em;
  margin-right: 2em;
  width: 23vw;
}
.oscuro2 .descripcionOscuro2 {
  text-align: center;
  width: 15em;
  margin-left: 4.6em;
  margin-right: 4.6em;
  font-family: 'Times New Roman', Courier, monospace;
  font-size: 1.2em;
  font-size: 1.2vw;
}
/* -- Div Oscuro -- */

/* -- Div Contacto Simple -- */
.contactoSimple {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: #00ff00;
  height: 7em;
  height: 7vw;
}
.contactoSimple h1{
  padding: 2em;
  font-size: 0.9em;
  font-size: 0.9vw;
  padding-right: 40em;
  padding-left: 40em;
}
.contactoSimple a{
  color: aquamarine;
  text-decoration: none;
}
/* -- Div Contacto Simple -- */

/* -- NUEVO Footer -- */
footer{
  background-color: white;
  padding-left: 0px;
  padding-right: 0px;
}
.footerDiv {
  background: linear-gradient(to bottom, black,#01af01);
  color: #00ff00;
  padding-top: 6vw;
  padding-bottom: 5vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  display: flex;
  font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
  justify-content: space-between;
}
.footerDiv h2{
  font-weight: bold;
  font-size: 1vw;
  font-family:'Fira Sans', Helvetica, Arial, Lucida, sans-serif;
}
.subfooterDiv {
  width: calc(25% - 2vw);
  margin: 0 0.1vw;
  padding: 1vw;
  
}
.subsubfooterDiv {
  font-size: 0.9vw;
  margin-top: 1vw;
}
/* -- NUEVO Footer -- */


/* -- EL PTISIMO NAV -- */
/* -- EL PTISIMO NAV -- */
nav {
  position: absolute;
  top: inherit;
  left: 0px;
  right: inherit;
  bottom: 16px;
  width: 100%;
  padding: 25px;
  background: transparent;
  z-index: 1000;
}
nav ul {
  position: relative;
  text-align: center;
}
nav ul li {
  display: inline-block;
  position: relative;
}
nav ul li.current > span, nav ul li.current a {
  color: #00ff00;
  background: url("./multimedia/pin.png") no-repeat center 100%;
  font-family: Impact, Charcoal, sans-serif;
}
nav ul li:hover > span {
  cursor: default;
  color: #00ff00;
  background: url("./multimedia/pin.png") no-repeat center 100%;
}
nav ul li:hover > ul {
  display: block !important;
}
nav ul li a, nav ul li span {
  color: #e3e3e3;
  background: none;
  padding: 30px 20px;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: normal;
  cursor: pointer;
  font-size: 1.1em;
}
nav ul li a:hover, nav ul li a.active, nav ul li span:hover, nav ul li span.active {
  text-decoration: none;
  color: #00ff00;
  background: url("./multimedia/pin.png") no-repeat center 100%;
  font-family: Impact, Charcoal, sans-serif;
}
nav ul li ul {
  position: absolute;
  width: 275px;
  text-align: left;
  background: #FFF;
  padding: 20px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  top: 39px;
  left: 0;
}
nav ul li ul li {
  display: inline-block;
  position: relative;
  width: 100%;
}
nav ul li ul li:hover > ul {
  display: block !important;
}
nav ul li ul li.current a {
  background: #FFF;
  text-decoration: none;
  color: #00ff00;
}
nav ul li ul li a, nav ul li ul li span {
  color: #232323;
  padding: 0;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: normal;
  cursor: pointer;
  font-size: 1em;
  background: none !important;
  text-transform: uppercase;
}
nav ul li ul li a:hover, nav ul li ul li span:hover {
  text-decoration: none;
  color: #444;
}
nav ul li ul li span {
  cursor: default !important;
}
nav ul li ul li ul {
  display: block !important;
  position: relative;
  text-align: left;
  background: #FFF;
  padding: 5px 0 5px 15px;
  box-shadow: none;
  width: inherit;
  top: 0;
}
nav ul li ul li ul li {
  display: inline-block;
  position: relative;
  width: 100%;
}
nav ul li ul li ul li.current a {
  background: #FFF;
  text-decoration: none;
  color: #00ff00;
}
nav ul li ul li ul li a, nav ul li ul li ul li span {
  color: #e3e3e3;
  padding: 0;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: normal;
  cursor: pointer;
  font-size: 1em;
  background: none !important;
  text-transform: inherit;
}
nav ul li ul li ul li a:hover, nav ul li ul li ul li span:hover {
  text-decoration: none;
  color: #00ff00;
}
nav ul li ul li ul li a span, nav ul li ul li ul li span span {
  cursor: pointer !important;
}
nav ul li ul li ul li span {
  cursor: default !important;
}
/* -- EL PTISIMO NAV -- */