body{
           background: url('multimedia/bg2.jpg');
           background-size: cover;
           background-position: center;
}
.dia{
    display: flex;
}
.hora{
    height: 50px;
    width: 50px;
    /* border: 1px solid black;*/
}
.espacio{
    height: 40px;
}
.blanco{
    background-color:#fff;
    height: 100px;
	position:relative;
	border: 4px solid black; /* Borde en todas las caras */
        border-right-width: 0;
        border-left-width: 0;
}
.verde{
    background-color:#05ad82;
	transform: translate(-50%, -50%);
	position: absolute;
    top: 50%;
    left: 50%;
}
.diaDelPadre{
	height:100px;
	display: flex;
    	justify-content: center;
    	align-items: center;
}
.container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 200px; /* Altura del contenedor igual al 100% de la altura visible */
            padding: 0 20px; /* Añade espacio alrededor del contenido */
	margin-top:70px;
	margin-bottom:100px;
        }

.content {
            background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco semi-transparente */
            padding: 20px;
            border-radius: 10px; /* Bordes redondeados */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */

		background: transparent;
		border: 2px solid rgba(255, 255, 255, .2);
	    backdrop-filter: blur(20px);
	    	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    		color: #fff;
    		border-radius: 10px;

        }

.button-container {
            margin-left: auto; /* Mueve el contenedor de botones a la derecha */
        }
button {
            padding: 10px 20px; /* Ajusta el tamaño del botón */
            border: none; /* Quita el borde del botón */
            border-radius: 5px; /* Bordes redondeados */
            color: rgba(255, 255, 255, 0.8); /* Color de texto blanco semi-transparente */
            cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
            transition: background-color 0.3s;
	    background: transparent;
	    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	    border: 2px solid rgba(255, 255, 255, .2);
	    color: #fff;
	    border-radius: 10px;
	    backdrop-filter: blur(20px);
        }

button:hover {
	background-color: rgba(255, 255, 255, 0.2);
        }
.redondeoIzq{border-radius: 0 0 0 20px;
	    border: 4px solid black; /* Borde en todas las caras */
            border-right-width: 0;
}
.redondeoDer{border-radius: 0 20px 20px 0;
	border: 4px solid black; /* Borde en todas las caras */
        border-left-width: 0;

}
